# Text file for ignoring files and folders

# Ignore directories

.ipynb_checkpoints/

# Ignore file extensions

*.zip
*.txt

# Ignore files

kaggle-competition-predict-house-prices-notes.txt
kaggle-competition-predict-house-prices-kaggle-version.ipynb




